<a href="https://colab.research.google.com/github/pratik-poudel/stats/blob/master/sds_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [27]:
!wget https://raw.githubusercontent.com/pratik-poudel/stats/master/Diabetes.csv

--2020-05-13 18:47:31--  https://raw.githubusercontent.com/pratik-poudel/stats/master/Diabetes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23873 (23K) [text/plain]
Saving to: ‘Diabetes.csv’

Diabetes.csv        100%[===================>]  23.31K  --.-KB/s    in 0.01s

2020-05-13 18:47:31 (1.85 MB/s) - ‘Diabetes.csv’ saved [23873/23873]

In [35]:
ls

Diabetes.csv  sample_data/

In [0]:
df = pd.read_csv('Diabetes.csv')

In [67]:
df.shape

(768, 9)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [69]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [70]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [0]:
df2 = df[['Glucose', 'BMI', 'Age', 'Outcome']]

In [76]:
df2.describe()

          Glucose         BMI         Age     Outcome
count  768.000000  768.000000  768.000000  768.000000
mean   120.894531   31.992578   33.240885    0.348958
std     31.972618    7.884160   11.760232    0.476951
min      0.000000    0.000000   21.000000    0.000000
25%     99.000000   27.300000   24.000000    0.000000
50%    117.000000   32.000000   29.000000    0.000000
75%    140.250000   36.600000   41.000000    1.000000
max    199.000000   67.100000   81.000000    1.000000

In [0]:
df3 = df2.loc[~(df2[df2.columns[: -1]] == 0).any(axis=1)]

In [78]:
(df2[df2.columns[: -1]] == 0).head(10)

   Glucose    BMI    Age
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
5    False  False  False
6    False  False  False
7    False  False  False
8    False  False  False
9    False   True  False

In [85]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 767
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Glucose  752 non-null    int64
 1   BMI      752 non-null    float64
 2   Age      752 non-null    int64
 3   Outcome  752 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 29.4 KB

In [86]:
df3.groupby('Outcome').mean()

            Glucose        BMI        Age
Outcome
0        110.825820  30.876434  31.309426
1        142.488636  35.371970  37.015152

In [87]:
df3.groupby('Outcome').agg({"Glucose": "mean", "BMI":"median", "Age": 'min'})

            Glucose    BMI  Age
Outcome
0        110.825820  30.10   21
1        142.488636  34.25   21

In [89]:
df3.groupby('Outcome').agg(['mean', 'median'])

            Glucose               BMI               Age
               mean median       mean median       mean median
Outcome
0        110.825820  107.5  30.876434  30.10  31.309426     27
1        142.488636  140.5  35.371970  34.25  37.015152     36

In [0]:
positive = df3.loc[df3['Outcome'] == 1]
negative = df3.loc[~(df3['Outcome'] == 1)]

In [97]:
positive.shape, negative.shape

((264, 4), (488, 4))

In [0]:
df3.to_csv('clean_diabetes.csv', index=False)